#frame1{
	
	height:235%;
	width: 100%;
	background: url("ArticleDisscussion/bg.jpg") no-repeat center center fixed;
	background-size: cover;
}


#wrapper1{
	width: 980px;
	margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
}

#content{
	width:980px;
	
	
	
}

#response{
	border: 2px dashed rgba(183, 18, 27, 1);
	margin-top:400px;
	margin-left:300px;
	
}

#btn_submit{
	

	border: 0;
    color: #000000;
    cursor: pointer;
    background-color: rgba(252, 211, 7, 1);
    font: normal normal normal 16px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
margin-top:140px;
    position: absolute;
		margin-top:535px;
	margin-left:0px;
   

}