#wrapper {
	height: 150%;
	width: 100%;
	background-image: url("ArticleDisscussion/bg.jpg");
	background-size:cover;
}
#top_bar{
	width:80%;
	height:2%;
	margin-left:-100px;
}

#apDiv1, #apDiv2, #apDiv3, #apDiv4, #apDiv5 {
	line-height: 43px;
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	float: right;
	list-style-type: none;
	padding-top: 50px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 18px;
	color: #F2668F;
    font: normal normal normal 14px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
}
#apDiv1_1
{	width:50px;
	padding-top: 10px;
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 0px;
	list-style-type: none;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
	
}
#apDiv1_1:hover{    
	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
	padding-top:5px;
	
}
#apDiv2_1{
	padding-top: 10px;
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 0px;
	list-style-type: none;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
	
}
#apDiv2_1:hover{
	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
}
#apDiv3_1{
	padding-top: 10px;
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 0px;
	list-style-type: none;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
	
}
#apDiv3_1:hover{
	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
	}
	
#apDiv4_1{
	padding-top: 10px;
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 0px;
	list-style-type: none;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
	
}
#apDiv4_1:hover{
	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
	}
#apDiv5_1{
	
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 10px;
	list-style-type: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
}
#apDiv5_1:hover{

	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
}
#apDiv6_1{
	
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 10px;
	list-style-type: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
}
#apDiv6_1:hover{

	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
}
#apDiv1:hover {
    color: #FCB5B5;
    transition: color 0.4s ease 0s;
}

#apDiv2:hover {

	color: #FCB5B5;
    transition: color 0.4s ease 0s;
}
#apDiv3:hover {

	color: #FCB5B5;
    transition: color 0.4s ease 0s;
}
#apDiv4:hover {

	color: #FCB5B5;
    transition: color 0.4s ease 0s;
}
#apDiv5:hover {

	color: #FCB5B5;
    transition: color 0.4s ease 0s;
}


li a {
	font-size: 16px;
	color: #F2668F; 
	
	border-top: 1px solid rgba(242, 102, 143, 1);
	text-decoration: none;
	font-weight: normal;

}
li a:hover {
		color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
}

.bar{
	 font: normal normal normal 14px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
	background-color:white;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
	line-height:60px;
	padding:20px 15px;
    border-radius:6px;
}

#sidebar {
	height: 70%;
	width: 7%;
	margin-left: 300;
	padding-top: 100;

}
.buttons{
	height: 65px;
	width: 93%;
	margin-left: 4;
	margin-top: 18;
	
}
#content{
	height: 80%;
	width: 55%;
	margin-top: -1025;
	margin-left: 450;
	background-color: rgba(255, 251, 241, 1);
}
#maintittle{
	height: 20%;
	width: 50%;
	margin-top: 10;
	margin-left: 40;
}
#loudly{
	padding-top: 35;
	margin-top: 40;
	font-weight: lighter;
}
#author{
	font-size: 20;
	font-weight: lighter;
}
#welcome{
	padding-top: 8;
	color: gray;
}
#articles{
	height: 80%;
	width: 100%;
}
.article{
	height: 45%;
	width: 47%;
	float: left;
	margin-top: -10;
	margin-left: 22;
	background-color: white;	
}
.top{
	height: 38%;
	width: 98%;
	margin-top: 2;
	background-color: gray;
}
.topphoto{
	height: 100%;
	width: 43%;
	float:left;
	background-color: #FFF7E8;
}
.toptittle{
	height: 100%;
	width: 57%;
	float:left;
	background-color: #FFD8AF;
}
.tittles{
	font-size: 30;
	font-weight: bold;
}
.photos{
	height: 85%;
	width: 90%;
	margin-left: 11;
	margin-top: 13;
}
.readmore{
	height: 40;
	width: 130;
	float:right;
	cursor :pointer;
}
.rword{
	font-size: 25px;
	color: red;
	font-style: italic;
	font-family:serif;
	font-weight: bold;
}
.rword:hover{
	color: #AA0000;
}