	#frame{
		height: 150%;
		width: 100%;
		background: url("img/bg.jpg") no-repeat ;
		background-size: cover;
				}



		#wrapper {
			
		width:1100px;
		margin: auto;
					}
					
		
#apDiv1, #apDiv2, #apDiv3, #apDiv4, #apDiv5 {
	line-height: 43px;
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	float: right;
	list-style-type: none;
	padding-top: 50px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 18px;
	color: #F2668F;
    font: normal normal normal 14px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
}
#apDiv1_1
{	width:50px;
	padding-top: 10px;
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 0px;
	list-style-type: none;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
	
}
#apDiv1_1:hover{    
	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
	padding-top:5px;
	
}
#apDiv2_1{
	padding-top: 10px;
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 0px;
	list-style-type: none;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
	
}
#apDiv2_1:hover{
	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
}
#apDiv3_1{
	padding-top: 10px;
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 0px;
	list-style-type: none;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
	
}
#apDiv3_1:hover{
	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
	}
	
#apDiv4_1{
	padding-top: 10px;
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 0px;
	list-style-type: none;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
	
}
#apDiv4_1:hover{
	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
	}
#apDiv5_1{
	
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 10px;
	list-style-type: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
}
#apDiv5_1:hover{

	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
}
#apDiv6_1{
	height: 15px;
	cursor: pointer;
	overflow: hidden;
	margin-left: 10px;
	list-style-type: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 18px;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
}
#apDiv6_1:hover{
	color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
}
#apDiv1:hover {
    color: #FCB5B5;
    transition: color 0.4s ease 0s;
}

#apDiv2:hover {

	color: #FCB5B5;
    transition: color 0.4s ease 0s;
}
#apDiv3:hover {

	color: #FCB5B5;
    transition: color 0.4s ease 0s;
}
#apDiv4:hover {

	color: #FCB5B5;
    transition: color 0.4s ease 0s;
}
#apDiv5:hover {

	color: #FCB5B5;
    transition: color 0.4s ease 0s;
}


li a {
	font-size: 16px;
	color: #F2668F; 
	
	border-top: 1px solid rgba(242, 102, 143, 1);
	text-decoration: none;
	font-weight: normal;

}
li a:hover {
		color: rgba(145, 111, 24, 1);
	border-top-width: 4px;
    border-top-color: rgba(145, 111, 24, 1);
}

.bar{
	 font: normal normal normal 14px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
	background-color:white;
	color: #F2668F;
	border-top: 1px solid rgba(242, 102, 143, 1);
	line-height:60px;
	padding:20px 15px;
    border-radius:6px;
}
.boxes{
	width:140px;
	height:50px;
    display: block;
    border: solid 1px rgba(219, 184, 154, 1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border-radius: 0;
    transition: background-color 0.4s ease 0s;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
	background-color: rgba(255, 255, 255, 1);
}
.boxes:hover{
	background-color: rgba(219, 184, 154, 1);
    transition: background-color 0.4s ease 0s;
}
.boxes_word{
	color:black;
	font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
	padding-top:6px;
	text-align:center


}
.boxes_word:hover{
	color:white;
	
}


	  #content{
		margin-top:-50px;
		height:1200px;
		}
	
      #past{
	
	  }
	

		